*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

/*Menu*/

.navegacao{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1%;
    box-shadow: 0 0.1rem 0.5rem #5d5e5b;
    width: 100%;
    margin-bottom: 3rem;
}

.navegacao-menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: center;
    gap: 2rem;
}

.navegacao-menu i{
    display: flex;
    align-items:flex-end;
    color: rgb(245, 239, 239);
    background-color: rgb(0, 0, 0);
}


/*Home*/

.home{
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 8%;
    margin-top: 10%;
}

.home h1{
    size: 15pt;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    padding: 20px 50px;
    height: 15%;
    width: 52%;
    text-align: center;
    align-items: center;
    margin-left: 20%;
}


.home h2{
    color: rgb(255, 255, 255);
    background-color: black;
    height: 5%;
    width: 52%;
    text-align: center;
    margin-left: 20%;

}

.home h4{
    color: rgb(255, 255, 255);
    background-color: black;
    height: 5%;
    width: 52%;
    text-align: center;
    margin-left: 20%;
}
.home p{
    font-family: Arial, Helvetica, sans-serif;
    height: 10%;
    width: 52%;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    margin-left: 20%;
    text-align: justify;
}

.logo{
    width: 400px;
}

.imagem{
    margin-right: 12%;
}

/*Sobre Mim*/

.sobre-mim{
    background-color: #5d5e5b;
    color: white;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

.sobre-mim h1{
    margin-bottom: 2rem;
}

.sobre-mim h4{
    background-color: rgb(71, 126, 173);
    width: 100%;
    height: 100%;
    color: aliceblue;
    text-align: center;
}

.colunas-sobre{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    gap: 2rem;
}


.quemsoueu{
    width: 20%;
    height: 20%;
    margin-left: 10%;
}

.conhecimentos{
    width: 20%;
    height: 20%;
}

.planodecarreira{
    width: 20%;
    height: 20%;
    margin-right: 10%;
}